<%- include('../partials/head')%>
</head>
<body class="bg-blue-50 min-h-screen">
    <%- include('../partials/nav') %> 
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-center pb-2 text-3xl font-bold text-blue-600">Forgot Password</h1>
    <form action='/forgot-password' method="post" class="max-w-md mx-auto space-y-6">
      <%- include('../partials/error-messages')%>
      <div class="space-y-2">
        <input 
          type="email" 
          name="email" 
          placeholder="Enter your email" 
          class="w-full px-4 py-2 rounded-lg border border-blue-200 focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-200"
          
        >
        
      <button 
      type="submit" 
      class="w-full bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600 transition-colors duration-200"
    >Reset Password
    </button>
      </div>
      
    </form>
  </main>
</body>
</html>