<form action="/favourites" method="post" >
  <input type="hidden" name="id" value="<%= home.id %>">
  <button class="p-3 m-1 rounded-lg bg-green-400 hover:bg-green-600">Add To Fevourite</button>
</form>